/* selector universal*/
*{
    margin: 10;
    padding: 10;
}

/* todo el cuerpo de la web */
body {
    width: 70%;
    background-image: url(multimedia/f-fondopagina.jpg);
    background-attachment: fixed;
}

/* header */
header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
#encabezado img {
    width: 50%;
}

/* seccion 1  video y carrousel */

.titulo-activo {
    color: black;
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
    line-height: 18px;
    font-weight: bold;
}
#video iframe {
    width: 60%;
}

/* seccion 2  info de activos */
.texto-activos {
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    padding-right: 10px;
    padding-left: 60px;
}

/* seccion 3 sitios web */

#sitios img{
    width: 30%;
}

/* footer */

#redes  img {
    width: 10%;
}